.showcase {
	height: 100vh;
	display: flex;
	position: relative;
	justify-content: center;
	text-align: center;
	color: #fff !important;
	padding: 0 20px;
}


.visibility{
	border-radius: 20px;
}

.content {
	z-index: 2;
	width: 110%;
	color: black;
	opacity: 0.8;
	margin-top: 20px;
	border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

*{
  font-family: 'Mitr', sans-serif;
}

.downscale {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
}

