.showcase {
	height: 100vh;
	display: flex;
	position: relative;
	justify-content: center;
	text-align: center;
	color: #fff !important;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('../../Videos/CovidImage.jpeg') no-repeat center
		center/cover;
		object-fit: fill;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.visibility{
	border-radius: 20px;
}

.content {
	z-index: 2;
	width: 110%;
	color: black;
	opacity: 0.8;
	margin-top: 20px;
	border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

*{
  font-family: 'Mitr', sans-serif;
}

.downscale {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	
}